Source: pop-desktop-widget
Section: admin
Priority: optional
Maintainer: System76 <info@system76.com>
Build-Depends:
  cargo,
  debhelper (>=9),
  libgstreamer1.0-dev,
  libgtk-3-dev,
  libhandy-1-dev,
  pkg-config,
  rustc (>=1.36.0)
Standards-Version: 4.3.0
Homepage: https://github.com/pop-os/desktop-widget

Package: libpop-desktop-widget
Architecture: linux-any
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  lm-sensors
Description: Pop desktop settings widget library
 Shared library for C which provides the Pop!_OS desktop settings widget as a GTK widget.

Package: libpop-desktop-widget-dev
Architecture: all
Depends:
  libpop-desktop-widget (= ${binary:Version}),
  ${misc:Depends}
Description: Pop desktop settings widget library header
 The C header required to link to the Pop!_OS desktop settings widget library.
